extends layout

block content
  h1 Moi!
  img(src='/images/rnlogo.png')
  p Tervetuloa ohjelmistoomme nimeltä HellYEAH
  script.
    console.log('olet paras')
  p Tällä hetkellä ohjelmistolla ei ole mitään tarkoitusta.
  p Ja lauritus on paras